<section class="section section-splash" *ngIf="!loading">
   <div class="container px-0 mx-0">
      <div class="row px-0 mx-0">
         <div class="col px-0 mx-0" style="min-height: 100vh;max-height: 100vh;overflow-y: scroll;">
            <div class=" background-themecolor text-white" style="position: sticky;top: 0px;z-index: 1;">
               <div class="input-group nav  px-1r py-1r text-center" [class.pt-5]="http['iOS']"
                  style="position:sticky;top:0px;z-index: 10000;padding-bottom: 0.75rem !important;">
                  <i class="fa fa-arrow-left"
                     style=" color: white;width: 10% !important;margin-top: 4px;cursor: pointer;    text-align: left;
                     padding-left: 3px;" aria-hidden="true"
                     (click)="back()"></i>
                  <h4 class="f-20px text-white p-0 m-0 text-left" style="width:80% !important;  padding-left: 10px"
                     [innerHTML]="( detailPage[route['card_data']['entity']]['title'] || constantcheck(detailPage[route['card_data']['entity']]['title']))">
                  </h4>
               </div>
               <div *ngIf="data && detailPage[route['card_data']['entity']]['templates']['images']">
                  <img
                     style="padding-bottom: 5px !important;padding: 20px;width: 100%;object-fit: cover;padding-top: 5px;"
                     [src]="(data[detailPage[route['card_data']['entity']]['templates']['images'][0]['link']]  || util.geticons(detailPage[route['card_data']['entity']]['templates']['images'][0]['link']))"
                     alt="" srcset="">
               </div>
               <div style="padding-left: 1.2rem;padding-right: 1.2rem;padding-top: 10px;padding-bottom: 5px;">
                  <div *ngIf="data">
                     <h4 [ngStyle]="getStyle(item)" style="margin-bottom: 5px;"
                        *ngFor="let item of detailPage[route['card_data']['entity']]['templates']['labels']"
                        [innerHTML]="( data[item['rhs']] || constantcheck(item['rhs']))"></h4>
                  </div>
               </div>
               <div *ngIf="detailPage[route['card_data']['entity']]['templates']['cells']" style="padding-right: 1.2rem;padding-left: 1.2rem;
               padding-bottom: 8px;
               padding-top: 2px;"
                  class="flex">
                  <div
                     *ngIf="detailPage[route['card_data']['entity']]['templates']['cells']&&detailPage[route['card_data']['entity']]['templates']['cells']['field1']"
                     class="w-50" style="display: inline-block;">
                     <div *ngIf="detailPage[route['card_data']['entity']]['templates']['cells']['field1']['image']"
                        style="width: 25%;display: inline-block;">
                        <img
                           [src]="util.geticons(detailPage[route['card_data']['entity']]['templates']['cells']['field1']['image'])"
                           alt="" srcset=""
                           style="    width: 100%;position: relative;top: 29%;transform: translateY(-35%);padding: 10px;padding-left: 0px;padding-right: 19px;">
                     </div>
                     <div style="width: 75%;display: inline-block;" [class.w-100]="!detailPage[route['card_data']['entity']]['templates']['cells']['field1']['image']">
                        <h4 style="font-size:18px"
                           [innerHTML]="(util.getvalue(data,detailPage[route['card_data']['entity']]['templates']['cells']['field1']['rhs']) || constantcheck(detailPage[route['card_data']['entity']]['templates']['cells']['field1']['rhs'])) || ' '">
                        </h4>
                        <h4 style="font-size:18px"
                           *ngIf="util.getvalue(data,detailPage[route['card_data']['entity']]['templates']['cells']['field1']['rhs'])==0">
                           0
                        </h4>
                        <h4 style="font-size: 13px;"
                           [innerHTML]="(detailPage[route['card_data']['entity']]['templates']['cells']['field1']['lhs'] || constantcheck(detailPage[route['card_data']['entity']]['templates']['cells']['field1']['lhs']))">
                        </h4>
                     </div>
                  </div>
                  <div
                     *ngIf="detailPage[route['card_data']['entity']]['templates']['cells']&&detailPage[route['card_data']['entity']]['templates']['cells']['field2']"
                     class="w-50" style="display: inline-block;">
                     <div style="width:25%;display: inline-block;"
                        *ngIf="detailPage[route['card_data']['entity']]['templates']['cells']['field2']['image']">
                        <img
                           [src]="util.geticons(detailPage[route['card_data']['entity']]['templates']['cells']['field2']['image'])"
                           alt="" srcset=""
                           style="    width: 100%;position: relative;top: 29%;transform: translateY(-35%);padding: 10px;padding-left: 0px;padding-right: 19px;">
                     </div>
                     <div style="width: 75%;display: inline-block;" [class.w-100]="!detailPage[route['card_data']['entity']]['templates']['cells']['field2']['image']">
                        <h4 style="font-size:18px"
                           [innerHTML]="(util.getvalue(data,detailPage[route['card_data']['entity']]['templates']['cells']['field2']['rhs']) ||constantcheck(detailPage[route['card_data']['entity']]['templates']['cells']['field2']['rhs']) || '')">
                        </h4>
                        <h4 style="font-size:18px"
                           *ngIf="util.getvalue(data,detailPage[route['card_data']['entity']]['templates']['cells']['field2']['rhs'])==0">
                           0
                        </h4>
                        <h4 style="font-size: 13px;"
                           [innerHTML]="(detailPage[route['card_data']['entity']]['templates']['cells']['field2']['lhs'] || constantcheck(detailPage[route['card_data']['entity']]['templates']['cells']['field2']['lhs']))">
                        </h4>
                     </div>
                  </div>
               </div>
            </div>
            <div>
               <div class="accordion" id="accordionExample">
                  <div class="card" *ngFor="let item of sections;let i=index" (click)="getData(item,i)">
                     <div class="card-header" id="headingOne"  (click)="toggleIcon('expandable'+i)">
                        <a *ngIf="item['section_header']['title']" class="w-100" data-toggle="collapse"
                           [href]="'#'+'collapseOne'+i" aria-expanded="true" aria-controls="collapseOne"
                           style="background:none;border:none;background:none">
                           <div class="text-center" style="display: inline-block;width: 10%;padding-right: 13px;">
                              <img [src]="util.geticons(item['section_header']['icon'])" style="width:20px" alt=""
                                 srcset="">
                           </div>
                           <div style="display:inline-block;width:80%">
                              <h2 class="mb-0"
                                 style="font-size: 16px;padding-top: 5px;padding-bottom: 5px;color:black;text-decoration: none;">
                                 {{item['section_header']['title']}}
                              </h2>
                           </div>
                           <div class="text-center" [id]="'expandable'+i" style="display: inline-block;width: 10%;padding-right: 13px;transform: scaleY(-1);">
                              <img src="assets/img/up_arrow_grey.png" style="width:20px" alt=""
                                 srcset="">
                           </div>
                        </a>


                        <a *ngIf="item['section_header']['card_mapping_key']" class="w-100" data-toggle="collapse"
                           [href]="'#'+'collapseOne'+i" aria-expanded="true" aria-controls="collapseOne"
                           style="background:none;border:none;background:none">
                           <app-template-expandable-header
                              *ngIf="card_mapping[item['section_header']['card_mapping_key']]['template']=='templateExpandableHeader'"
                              [data]="cardData(item)"></app-template-expandable-header>
                        </a>
                     </div>
                     <div [id]="'collapseOne'+i" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body p-0">
                           <div>
                              <div *ngFor="let item of item['data']">
                                 <div *ngIf="card_mapping[item['entity']]['template']=='templateSectionItemHistory'">
                                    <app-template-section-item-history [data]="item">
                                    </app-template-section-item-history>
                                 </div>
                                 <div class="px-2"
                                    *ngIf="card_mapping[item['entity']]['template']=='templateStatsCard'">
                                    <app-template-stats-card [data]='item'>
                                    </app-template-stats-card>
                                 </div>
                                 <div class="px-2"
                                    *ngIf="card_mapping[item['entity']]['template']=='templateCommonCardContent'">
                                    <app-template-common-card-content [data]='item'>
                                    </app-template-common-card-content>
                                 </div>
                                 <div class="px-2" *ngIf="card_mapping[item['entity']]['template']=='templateGrid2By2'">
                                    <app-template-grid2-by2 [data]='item'>
                                    </app-template-grid2-by2>
                                 </div>
                                 <div class="px-2" *ngIf="card_mapping[item['entity']]['template']=='templateTwo'">
                                    <app-template-two [data]='item'>
                                    </app-template-two>
                                 </div>
                                 <div class="px-2"
                                    *ngIf="card_mapping[item['entity']]['template']=='templateVerticalImageText'">
                                    <app-template-vertical-image-text [data]='item'>
                                    </app-template-vertical-image-text>
                                 </div>
                                 <div class="px-2"
                                    *ngIf="card_mapping[item['entity']]['template']=='templateTransaction'">
                                    <app-template-transaction [data]='item'>
                                    </app-template-transaction>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div id="loadercontainer" *ngIf="loading">
   <div class="spinner-grow f-themecolor" style="position: relative;
     top: 50vh;" role="status">
      <span class="sr-only">Loading...</span>
   </div>
</div>
<div id="floater-action" *ngIf="isFloaterAction" style="position:fixed;bottom:30px;left: 40px;">
   <div id="container-floating">

      <div [class]="'nd'+(i+1)+' nds'" (click)="cardaction(action)" *ngFor="let action of actionlist;let i=index" data-toggle="tooltip" data-placement="left" data-original-title="Simone">{{action['title']}}</div>
    
      <div id="floating-button" data-toggle="tooltip" data-placement="left" >
        <p class="plus">+</p>
        <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
      </div>
    
    </div>
    
</div>
<div id="error" *ngIf="errorstatus">
   <div class="content mx-auto w-75 text-white">
     {{errormsg}}
   </div>
 </div>