input{
  background: #F6F6F6;
border-radius: 8px;
}
select{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.resend{
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
}

#map{
  height:30vh
}
button{    height: 46px;
  font-family: Rubik;
  font-size: 15px;
  border-radius: 8px;}
  .nav{
    border:none;
    border-radius: 8px;
    height:46px
  }
  .nav input{
    height:100%
  }
  .subtitle{font-size: 14px;
    font-family: Rubik,SANS-SERIF;
    color: 8A8A8F;
    color: #8A8A8F;}