<section class="section section-loginscreen section-fullscreen">
  <div class="container p-4 mx-0" [hidden]="!traplocation">
      <div class="row py-1 mx-0">
          <div class="col px-0 mx-0">
              <img src="assets/img/left-long.png" style="margin-left:-5px;cursor: pointer;" alt="" srcset="" routerLink='/splash'>
          </div>
      </div>
      <div class="row px-0 mx-0">
          <div class="col px-0 mx-0">
              <div class="content text-center">
                  <img src="assets/img/pin1.png?w=128" style="padding:4rem" alt="">
                  <h4 class="py-2 f-18px">
                      Hi, Nice to meet you!
                  </h4>
                  <p class="subtitle text-center">
                      Set your location to start exploring restaurants around you
                  </p>


                  <!-- Make the below ngIf to true to let user see their own live location -->
                  <div class="container px-0 mx-0" *ngIf="false">
                      <div class="row form  px-0 mx-0">
                          <div class="col-12 mx-0 px-0">
                              <div id="map" type="map" class="form form-control w-100"></div>
                          </div>

                      </div>
                  </div>
                  <a (click)="togglescreen()">
                      <button class="btn background-themecolor text-white w-100 mx-auto py-2 mt-4 mb-2">
            Set your location manually
          </button>
                  </a>
                  <!-- <p class="text-center py-2">
          or
          <br>
          <br>
          <a class="py-3 f-themecolor" (click)="togglescreen()">Select your location manually</a>
        </p> -->

                  <p class="subtitle text-center f-12px" style="    position: absolute;
        top: 80vh;">
                      We only access your location while you are using the app to improve your experience
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="container p-4 mx-0" [hidden]="traplocation">
      <div class="row py-1 mx-0">
          <div class="col px-0 mx-0">
              <img src="assets/img/left-long.png" style="margin-left:-5px;position: relative;z-index: 100;;cursor: pointer;" alt="" srcset="" (click)="togglescreen()">
          </div>
      </div>
      <div class="container px-0 mx-0">
          <div class="row form  px-0 mx-0">
              <div class="col-12 mx-0 px-0">
                  <div id="mapselect" type="map" style="    height: 58vh;
      width: 100% !important;
      margin: 0;
      padding: 0;
      margin: auto;
      position: relative;
      left: 50%; 
      transform: translateX(-50vw);
      top: -60px;
      " class="form form-control w-100"></div>
              </div>
              <div id="infowindow-content">
                  <img src="" width="16" height="16" id="place-icon">
                  <span id="place-name" class="title"></span><br>
                  <span id="place-address"></span>
              </div>

          </div>
      </div>
      <div class="row px-0 mx-0" style="margin-top: -35px !important;">
          <div class="col px-0 mx-0">
              <div class="content">
                  <h4 class="py-2 f-20px">
                      Select Location
                  </h4>
                  <div class="input-group mb-3 nav" style="overflow: hidden">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" style="background-color:#F6F6F6;border:none"> <img
                src="assets/img/searchbar.png?w=18" srcset=""></span>
                      </div>
                      <input id="pac-input" type="text" class="form-control w-100 py-2" style="background-color:#F6F6F6;border:none" placeholder="City, Locality" aria-label="Username" aria-describedby="basic-addon1" (click)="changelocinput()">

                  </div>

                  <p class="text-center">
                      <button (click)="setpos()" class="btn background-themecolor text-white w-100 mx-auto py-2 mt-2 mb-2">
            Confirm Location
          </button>

                      <!-- <br>
                      <br> or
                  </p>
                  <a class="py-1 f-themecolor w-100 text-center d-block f-themecolor" (click)="togglescreen()">
          Use current Location
        </a> -->
              </div>
          </div>
      </div>
  </div>

</section>