<section class="section section-splash background-themecolor">
    <div class="container mx-0 px-0">
        <div class="row mx-0 px-0">
            <div class="col mx-0 px-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner" style="height:80vh"  *ngIf="http.isJayceeconnect">
                        <div class="carousel-item active" style="height:100%">
                            <div class="container mx-0 px-0" style="height:100%">
                                <div class="row mx-0 px-0" style="height:100%">
                                    <div class="col mx-0 px-0 text-center title2">
                                        <div class="content-img content-img-2"
                                            style="padding-top: 30px;padding-bottom: 30px;">
                                            <img class="banner-img-2" src="assets/img/indo.png" alt=""
                                                style="padding-top: 2rem;width:max(210px,70%);display:block;margin:auto">
                                            <img class="banner-img-2" src="assets/img/safexlogo.png" alt=""
                                                style="padding-top: 1rem;width:max(150px,50%);display:block;margin:auto">
                                            <img class="banner-img-2" src="assets/img/sns.png" alt=""
                                                style="padding-top: 2rem;width:max(210px,70%);display:block;margin:auto">
                                        </div>
                                        <p class="text-white text-center px-5">
                                            <strong class="title1">Jaycee Connect</strong>
                                            <br>
                                            <br> Powered by Simplifii Labs
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height:100%">
                            <div class="container mx-0 px-0" style="height:100%">
                                <div class="row mx-0 px-0" style="height:100%">
                                    <div class="col mx-0 px-0 text-center title2" style="justify-content:center">
                                        <p class="text-white text-center px-5"
                                            style="text-align: left;margin: auto;width: 90%;color: white;margin-top: 0px;margin-bottom: 0px;">
                                            <strong class="title1">
                                                App Features
                                            </strong>
                                        </p>
                                        <br>
                                        <br>
                                        <ul
                                            style="text-align: left;padding-left: 62px;margin: auto;width: 90%;color: white;margin-top: 0px;margin-bottom: 0px;">
                                            <li class="title1 f-15px">UPI Payments</li>
                                            <li class="title1 f-15px">Access Ledger, Order History</li>
                                            <li class="title1 f-15px">View Corporate Gallery</li>
                                            <li class="title1 f-15px">Call Us | Write To Us</li>
                                            <li class="title1 f-15px">Corporate Gallery</li>
                                            <li class="title1 f-15px">+ a lot more</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-inner" style="height:80vh"  *ngIf="!http.isJayceeconnect">
  
                        <div class="carousel-item active" style="height:100%">
                            <div class="container mx-0 px-0" style="height:100%">
                                <div class="row mx-0 px-0" style="height:100%">
                                    <div class="col mx-0 px-0 text-center title2" >
                                        <div class="content-img content-img-2">
                                            <img class="banner-img-2" src="assets/simplifiiLogo.png" style="    width: 200px;    padding-top: 4rem;" alt="">
                                        </div>
                                        <p class="text-white text-center px-5">
                                            <strong class="title1">
                                                Simplifii
  
                                            </strong>
                                            <br>
                                            <br>Simplifii is a Versatile Business Apps Platform that enables companies scale and innovate faster
                                        </p>
  
                                    </div>
                                </div>
                            </div>
                        </div>
  
                    </div>
                    <ol class="carousel-indicators" style="top:90vh">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    </ol>
                </div>
                <div class="content text-center" style="height:10vh">
                    <a routerLink="/login">
                        <button class="btn btn-white f-themecolor w-70 mx-auto py-2 my-3">
                            Get started
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>




