<div class="container mx-0 px-0 pr-3"  *ngIf="data.type!='bankcard'"> 
  <div class="row px-0 mx-0">
    <div class="col mx-0 px-0">
      <img [src]="data.img" alt="" srcset="" style="border-radius: 8px;">
      <h3 class="f-15px rubik mx pt-2">{{data.name}}</h3>
      <h5 class="f-12px my-0 px-0 mx-0 rubik pb-2" style="color:#8A8A8F;font-family: normal;">{{data.origin}}</h5>
    <div class="d-flex">
      <img src="assets/img/solid.png" style="width:15px;height: 15px" alt="">
      <h5  class="f-15px rubik" style="font-size:13px">
        {{data.rating}} <small style="color:#8A8A8F">({{data.reviewcount}} reviews)</small></h5>
    </div>

    </div>
  </div>
</div>
<div class="container mx-0 px-0 pr-3"  *ngIf="data.type=='bankcard'" style="width:140px;border-radius: 8px;padding-right: 10px;"> 
  <div class="row px-2 py-3 mx-0" style="background-color: #FAF4ED;">
    <div class="col mx-0 px-0 text-center">
      <img [src]="data.imglink" alt="" srcset="" style="border-radius: 8px;height:73px">
      <br>
      <h3 class="f-15px rubik mx pt-2 f-themecolor">{{data.name}}</h3>
      <h5  *ngIf="valuevalid(data.count)" class="f-10px my-0 px-0 mx-0 rubik pb-2" style="font-family: normal;">{{data.origin}}</h5>
      <h6 *ngIf="valuevalid(data.count)">{{data?.count}}</h6>
    </div>
  </div>
</div>